<ion-header>

  <ion-navbar>
    <button ion-button icon-only menuToggle start>
      <ion-icon name="md-person" class="menu-button"></ion-icon>
    </button>
    <ion-title>
      {{process.pageTitle}}
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <div padding>

    <div
      *ngIf="process.procedure.note === 'normal'"
      class="grey"
      [innerHtml]="normalText">
    </div>

    <div class="grey" *ngIf="process.procedure.note === 'warning'">
      <p>
        <span *ngIf="process.info.what == 'businessLunch'">
          {{"receive.confirmSendInquiry.warning_0_business-lunch_0" | translate}}
          <span
            (click)="openInfo('glossary.business-lunch')"
            class="open-info">{{"receive.confirmSendInquiry.warning_0_business-lunch_1_glossary" | translate}}</span>
        </span>
        <span *ngIf="process.info.who == 'others'">
          {{"receive.confirmSendInquiry.warning_1_others_0" | translate}}
          <span (click)="openInfo('glossary.others')"
                class="open-info">{{"receive.confirmSendInquiry.warning_1_others_1_glossary" | translate}}</span>
        </span>
        <span [innerHtml]="'receive.confirmSendInquiry.warning'|translate"></span>
      </p>
    </div>
  </div>

  <div class="buttons-wrapper">
    <button
      ion-button
      tappable
      (click)="continue()"
      *ngIf="process.procedure.note === 'normal'">
      {{'receive.confirmSendInquiry.button_0'|translate}}
    </button>
    <button
      ion-button
      tappable
      (click)="continue()"
      *ngIf="process.procedure.note === 'warning'">
      {{'receive.confirmSendInquiry.button_0_GComp'|translate}}
    </button>
    <button
      ion-button
      tappable
      (click)="goToStartPage()">
      {{'buttons.button_cancel'|translate}}
    </button>
  </div>

</ion-content>
