<ion-header>

  <ion-navbar>
    <button ion-button icon-only menuToggle start>
      <ion-icon name="md-person" class="menu-button"></ion-icon>
    </button>
    <ion-title *ngIf="!title">
      {{'title' | translate}}
    </ion-title>
    <ion-title *ngIf="title">
      {{title}}
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div padding>
    <h2 class="primary" padding-top>{{option.questionOrComment}}</h2>
    <div class="stripes"></div>
    <h6 class="grey" *ngIf="option.type == 'what'">{{'receive.questionScreen.what_0'|translate}}
      <br>
      <span tappable (click)="openInfo('receive.questionScreen.what_1')"
            class="open-info">{{'receive.questionScreen.what_1'|translate}}</span>,
      <span tappable (click)="openInfo('receive.questionScreen.what_2')"
            class="open-info">{{'receive.questionScreen.what_2'|translate}}</span>,
      {{'receive.questionScreen.what_3'|translate}}
      <span tappable (click)="openInfo('receive.questionScreen.what_4')"
            class="open-info">{{'receive.questionScreen.what_4'|translate}}</span>
      {{'receive.questionScreen.what_5'|translate}}
    </h6>
    <h6 class="grey" *ngIf="option.type == 'who' && (option.what == 'specialEvent' || option.what == 'entertainment' || option.what == 'businessLunch')">
      {{'receive.questionScreen.who_invitation_0'|translate}}
      <span tappable (click)="openInfo('glossary.business-partner')"
            class="open-info">{{'receive.questionScreen.who_invitation_1'|translate}}</span>
      {{'receive.questionScreen.who_invitation_2'|translate}}
      <span tappable (click)="openInfo('glossary.others')"
            class="open-info">{{'receive.questionScreen.who_invitation_3'|translate}}</span>
      {{'receive.questionScreen.who_invitation_4'|translate}}</h6>
  </div>


  <div *ngIf="option.type !== 'what'" class="buttons-wrapper">
    <button
      ion-button
      tappable
      *ngFor="let subOption of option.options"
      [disabled]="subOption.disabled"
      (click)="loadNext(subOption)"
      [class.bold]="option.type == 'howMuch'">
      {{subOption.name}}
    </button>
  </div>


  <div *ngIf="option.type == 'what'" padding>
    <ion-item
      text-wrap
      tappable
      *ngFor="let subOption of option.options"
      [class.item-disabled]="subOption.disabled"
      (click)="loadNext(subOption)"
      [ngClass]="subOption.what">
      <div item-start></div>
      {{subOption.name}}<br>
      <span class="small">{{subOption.addition}}</span>
    </ion-item>
  </div>

</ion-content>
