<ion-header>

  <ion-navbar>
    <button ion-button icon-only menuToggle start>
      <ion-icon name="md-person" class="menu-button"></ion-icon>
    </button>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content>


  <div padding>
    <div class="grey" [innerHtml]="infoText">
    </div>
  </div>


  <!-- buttons for self-approval -->
  <div class="buttons-wrapper"
       *ngIf="process.procedure.approvalForm === 'self'">
    <button
      ion-button
      tappable
      (click)="goToEndScreen()">
      {{process.info.branch + ".infoScreen.finalize" | translate}}
    </button>
    <button
      ion-button
      tappable
      (click)="openDialogue()">
      {{"buttons.goToHomeScreen" | translate}}
    </button>
  </div>


  <!-- special buttons for Link to ProC@t Catalogue -->
  <div class="buttons-wrapper"
       *ngIf="process.procedure.approvalForm === 'none' && process.info.howMuch === '≤ 35€'">
    <a href="http://www.google.com">
      <button
        ion-button
        tappable>
        {{"give-donation.infoScreen.goToProCat" | translate}}
      </button>
    </a>
    <button
      ion-button
      tappable
      (click)="goToStartPage()">
      {{"buttons.goToHomeScreen" | translate}}
    </button>
  </div>

  <!-- buttons for no-approval if user can't do anything else but go to Home Screen -->

  <div class="buttons-wrapper"
       *ngIf="process.procedure.approvalForm === 'none' && process.info.howMuch !== '≤ 35€'">
    <button
      ion-button
      tappable
      (click)="goToStartPage()">
      {{"buttons.goToHomeScreen" | translate}}
    </button>
  </div>

  <h1 class="grey branch" padding>{{'buttons.' + branch | translate}}</h1>


  <!-- <p><b>Nur für Testzwecke</b></p>
   Bei der Zuwendung handelt sich um (ein/e) {{process.info.what}}<br>
   <div *ngIf="process.info.branch === 'get-donation'"> Die Zuwendung <i>kommt von</i>  {{process.info.who}}</div>
   <div *ngIf="process.info.branch === 'give-donation'"> Die Zuwendung <i>geht an</i>  {{process.info.who}}</div>
   Wert der Zuwendung beträgt {{process.info.howMuch}}<br>
   Dokumentation erforderlich? {{process.procedure.documentationRequired}}<br>
   Formular an HR erforderlich? {{process.procedure.sendFormToHumanResources}}<br>-->

</ion-content>
