<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle start>
      <ion-icon name="md-person" class="menu-button"></ion-icon>
    </button>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form [formGroup]="supplementaryDataForm" (ngSubmit)="logForm()">
    <h2 class="primary" padding-top>Angaben zur Zuwendung</h2>
    <div class="stripes"></div>
    <ion-item>
      <ion-label stacked>Zeitpunkt der Zuwendung</ion-label>
      <ion-datetime formControlName="time" placeholder="Monat/Jahr" displayFormat="MM/YYYY" ></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label stacked>Kurze Beschreibung</ion-label>
      <ion-textarea type="text" formControlName="description"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label stacked>Begründung</ion-label>
      <ion-textarea type="text" formControlName="reason"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label stacked>Geschätzter Wert in €</ion-label>
      <ion-input type="text" formControlName="value"></ion-input>
    </ion-item>
    <h2 class="primary" padding-top>Angaben zum Zuwendenden</h2>
    <div class="stripes"></div>
    <ion-item>
      <ion-label stacked>Unternehmen</ion-label>
      <ion-input type="text" formControlName="company"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Name</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Anlass</ion-label>
      <ion-input type="text" formControlName="occasion"></ion-input>
    </ion-item>
    <h2 class="primary" padding-top>Versteuerung</h2>
    <div class="stripes"></div>
    <ion-list radio-group formControlName="tax" >
      <ion-list-header class="radio-tax-label">Versteuerung durch den Zuwendenden nach §37b EStG erfolgt?</ion-list-header>
      <ion-item>
        <ion-label>Ja</ion-label>
        <ion-radio checked="false" value="yes"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Nein</ion-label>
        <ion-radio checked="false" value="no"></ion-radio>
      </ion-item>
    </ion-list>
    <ion-item *ngIf="supplementaryDataForm.value.tax == 'yes'">
      <ion-label stacked>Bestätigung liegt bei</ion-label>
      <ion-input type="text" formControlName="taxReceiptWhere"></ion-input>
    </ion-item>
    <!--<button ion-button type="submit" [disabled]="!todo.valid">Submit</button>-->
  </form>


  <button
    ion-button
    tappable
    class="answer"
    (click)="send()"
    [disabled]="!supplementaryData.valid">
    Absenden
  </button>
  <button
    ion-button
    tappable
    class="answer"
    (click)="save()"
    [disabled]="!saveButtonActive">
    Speichern
  </button>
  <button
    ion-button
    tappable
    class="answer"
    (click)="goToStartPage()">
    Abbrechen
  </button>
</ion-content>
