<ion-header>

  <ion-navbar>
    <button ion-button icon-only menuToggle start>
      <ion-icon name="menu" class="menu-button"></ion-icon>
    </button>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <div class="grey" [innerHtml]="note" padding></div>


  <div class="buttons-wrapper" *ngIf="process.procedure.continueButtonType !== 'inventory_or_deductible'">
    <button
      ion-button
      tappable
      (click)="continue()">
      {{continueButtonText}}
    </button>
    <button
      ion-button
      tappable
      (click)="askIfReallyCancel()">
      {{'buttons.cancel'|translate}}
    </button>
  </div>


  <div class="buttons-wrapper" *ngIf="process.procedure.continueButtonType == 'inventory_or_deductible'">
    <button
      ion-button
      tappable
      (click)="continue('inventory')">
      {{'buttons.inventory'|translate}}
    </button>
    <button
      ion-button
      tappable
      (click)="continue('deductible')">
      {{'buttons.deductible'|translate}}
    </button>
  </div>

  <h1 class="grey branch" padding>{{'buttons.' + branch | translate}}</h1>

</ion-content>
