<ion-header>

  <ion-navbar>
    <button ion-button icon-only menuToggle start>
      <ion-icon name="md-person" class="menu-button"></ion-icon>
    </button>
    <ion-title>
      {{'title' | translate}}
    </ion-title>
  </ion-navbar>

</ion-header>



<ion-content padding>

  <ion-grid>
    <ion-row class="upper-row">
      <ion-col
        col-12
        class="go-to-introduction-screen"
        (click)="goToIntroductionScreen()">
        <button ion-button clear full tappable>
          {{'home_GeschenkeUndEinladungen' | translate}}
        </button>
      </ion-col>
    </ion-row>
    <ion-row class="lower-row">
      <ion-col col-6>
        <button
          ion-button
          clear
          full
          tappable
          class="get"
          [disabled]="decisionTreeData.options[0].disabled"
          (click)="startProcess(decisionTreeData.options[0])">
            {{decisionTreeData.options[0].name}}
        </button>
      </ion-col>
      <ion-col col-6>
        <button
          ion-button
          clear full
          tappable
          class="give"
          [disabled]="decisionTreeData.options[1].disabled"
          (click)="startProcess(decisionTreeData.options[1])">
          {{decisionTreeData.options[1].name}}
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
