page-home {
  ion-content {
    background-image: url('../assets/images/home.jpeg');
    background-size: cover;
    .title{
      text-align: center;
      font-weight: bold;
      padding-bottom: 10%;
    }
    .information-text {
      padding: 5%;
      margin: 5%;
      background: rgba(225, 225, 225, .7);
      border-radius: 4px;
    }
    .lower-div {
      position: absolute;
      width: 100%;
      bottom: 0;
      padding: 5%;
      display: flex;
      justify-content: space-between;
      button {
        border-radius: 4px !important;
        display: inline-block;
        width: 45%;
        font-size: medium;
        .button-inner {
          white-space: normal;
          text-transform: none;
        }
      }
    }
  }

}
