<ion-header>

  <ion-navbar>
    <button ion-button icon-only menuToggle start>
      <ion-icon name="md-person" class="menu-button"></ion-icon>
    </button>
    <ion-title>
      {{'title' | translate}}
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="information-text">
    <h1 class="title" [innerHtml]="'home.title' | translate" tappable (click)="openInfo('glossary.gifts-and-invitations')"></h1>
    <span [innerHtml]="'home.info_0' | translate"></span>
    <span [innerHtml]="'home.info_1_glossary' | translate" tappable (click)="openInfo('glossary.social-adequacy')" class="open-info"></span>
    <span [innerHtml]="'home.info_2' | translate"></span>
  </div>
  <div class="lower-div">
    <button
      ion-button
      full
      tappable
      [disabled]="decisionTreeData.options[0].disabled"
      (click)="startProcess(decisionTreeData.options[0])">
      {{decisionTreeData.options[0].name}}
    </button>

    <button
      ion-button
      full
      tappable
      [disabled]="decisionTreeData.options[1].disabled"
      (click)="startProcess(decisionTreeData.options[1])">
      {{decisionTreeData.options[1].name}}
    </button>

  </div>

  <!--<div [innerHtml] = "translatedText"></div>-->



</ion-content>
