<ion-header>

  <ion-navbar>
    <button ion-button icon-only menuToggle start>
      <ion-icon name="md-person" class="menu-button"></ion-icon>
    </button>
    <ion-title>
      {{'title' | translate}}
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="information-text">
    <h1 class="title" [innerHtml]="title"></h1>
    <div [innerHtml]="info"></div>
  </div>
  <div class="lower-div">
    <button
      ion-button
      full
      tappable
      [disabled]="decisionTreeData.options[0].disabled"
      (click)="startProcess(decisionTreeData.options[0], 'get-donation')">
      {{"home.buttons." + decisionTreeData.options[0].name | translate}}
    </button>

    <button
      ion-button
      full
      tappable
      [disabled]="decisionTreeData.options[1].disabled"
      (click)="startProcess(decisionTreeData.options[1], 'give-donation')">
      {{"home.buttons." + decisionTreeData.options[1].name | translate}}
    </button>

  </div>

</ion-content>
