<ion-header>

  <ion-navbar>
    <button ion-button icon-only menuToggle start>
      <ion-icon name="menu" class="menu-button"></ion-icon>
    </button>
    <ion-title>
      {{'title' | translate}}
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div padding>
    <h2 class="primary" padding-top>{{"secondary-pages.endScreen.thanks" | translate}}</h2>
    <div class="stripes"></div>
    <p class="grey" *ngIf = "process.procedure.approvalForm !== 'self' ">{{"secondary-pages.endScreen.text_confirmation" | translate}}</p>
    <p class="grey" *ngIf = "process.procedure.approvalForm == 'self' ">{{"secondary-pages.endScreen.text_confirmation_self-approval" | translate}}</p>
    <p class="grey" *ngIf="process.procedure.documentationRequired" [innerHtml] = "documentationRequired"></p>
  </div>

  <div class="buttons-wrapper">
    <button
      ion-button
      tappable
      (click)="goToStartPage()">
      {{'buttons.goToHomeScreen' | translate}}
    </button>
  </div>

</ion-content>
