<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle start>
      <ion-icon name="md-person" class="menu-button"></ion-icon>
    </button>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-navbar>
</ion-header>
<h1>
  {{"receive.formScreen" | translate}}
</h1>
<ion-content padding>
  <p>{{warning}}</p>
  <!--<div>
    <p><b>Nur für Testzwecke</b></p>
    Bei der Zuwendung handelt sich um (ein/e) {{process.info.what}}<br>
    <div *ngIf="process.info.branch === 'get-donation'"> Die Zuwendung <i>kommt von</i>  {{process.info.who}}</div>
    <div *ngIf="process.info.branch === 'give-donation'"> Die Zuwendung <i>geht an</i>  {{process.info.who}}</div>
    Wert der Zuwendung beträgt {{process.info.howMuch}}<br>
    Die Email geht an {{process.procedure.emailTo}}<br>
    Dokumentation erforderlich? {{process.procedure.documentationRequired}}<br>
    Formular an HR erforderlich? {{process.procedure.sendFormToHumanResources}}<br>

  </div>-->
  <form [formGroup]="supplementaryDataForm">
    <ion-item>
      <ion-label stacked>{{label_time}}</ion-label>
      <ion-datetime formControlName="time" displayFormat="{{dateFormat}}" max = "{{inTwoYears}}"></ion-datetime>
    </ion-item>
    <ion-item [ngClass]="displayFieldCss('description')">
      <ion-label stacked>{{label_description}}</ion-label>
      <ion-textarea  rows = "4" type="text" formControlName="description"></ion-textarea>
    </ion-item>
    <ion-item [ngClass]="displayFieldCss('value')">
      <ion-label stacked>{{label_value}}</ion-label>
      <ion-input type="text" formControlName="value"></ion-input>
    </ion-item>
    <ion-item [ngClass]="displayFieldCss('person')">
      <ion-label stacked>{{label_person}}</ion-label>
      <ion-input type="text" formControlName="person"></ion-input>
    </ion-item>
    <ion-item [ngClass]="displayFieldCss('reason')">
      <ion-label stacked>{{label_reason}}</ion-label>
      <ion-textarea rows = "4"  type="text" formControlName="reason"></ion-textarea>
    </ion-item>
    <ion-list radio-group formControlName="tax" *ngIf="process.info.what == 'specialEvent'">
      <ion-item class="radio-tax-label" class="grey" [ngClass]="displayFieldCss('tax')">
        <ion-label text-wrap>
          <span [innerHtml]="label_tax"></span>
        </ion-label>
      </ion-item>
      <ion-item class="grey">
        <ion-label>{{'generics.yes'|translate}}</ion-label>
        <ion-radio checked="false" value="yes"></ion-radio>
      </ion-item>
      <ion-item class="grey">
        <ion-label>{{'generics.no'|translate}}</ion-label>
        <ion-radio checked="false" value="no"></ion-radio>
      </ion-item>
      <ion-item *ngIf="supplementaryDataForm.value.tax == 'yes' && !supplementaryDataForm.value.image"
                tappable
                (click) = "alertChooseImageFromCameraOrGallery()">
        <ion-label text-wrap stacked class="grey">{{'get-donation.formScreen.label_add_attachment'|translate}}</ion-label>
        <ion-icon name="attach" item-end class = "grey"></ion-icon>
      </ion-item>
      <ion-item *ngIf="supplementaryDataForm.value.tax == 'yes' && supplementaryDataForm.value.image">
        <ion-label
          text-wrap
          stacked
          class="open-attachment"
          tappable
        (click)="showAttachment()">{{'get-donation.formScreen.label_attachment_added'|translate}}</ion-label>
        <ion-icon name="trash" item-end class = "grey" tappable (click) = "deleteAttachment()"></ion-icon>
      </ion-item>
      <ion-item></ion-item>
    </ion-list>

  </form>
  <ion-item *ngIf="process.info.what !== 'specialEvent'">
    <ion-label class="grey small">{{'get-donation.formScreen.save-template'|translate}}</ion-label>
    <ion-checkbox [(ngModel)]="saveTemplateBoolean" item-end></ion-checkbox>
  </ion-item>


  <button
    ion-button
    tappable
    (click)="checkIfFormValid()">
    {{'buttons.send'|translate}}
  </button>
  <button
    ion-button
    tappable
    (click)="saveProcess()"
    [disabled]="!saveButtonActive">
    {{'buttons.save'|translate}}
  </button>
  <button
    ion-button
    tappable
    (click)="goToStartPage()">
    {{'buttons.cancel'|translate}}
  </button>
</ion-content>
