<ion-header>

  <ion-navbar>
    <button ion-button icon-only menuToggle start>
      <ion-icon name="md-person" class="menu-button"></ion-icon>
    </button>
    <ion-title *ngIf="!title">
      {{'title' | translate}}
    </ion-title>
    <ion-title *ngIf="title">
      {{title}}
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h2 class="primary" padding-top>{{option.questionOrComment}}</h2>
  <div class="stripes"></div>
  <h6 class="grey" *ngIf="option.type == 'what'">{{'questionScreen_what_0'|translate}}
    <span tappable (click)="openInfo('questionScreen_what_1')" class="open-info">{{'questionScreen_what_1'|translate}}</span>,
    {{'questionScreen_what_2'|translate}}
    <span tappable (click)="openInfo('questionScreen_what_3')" class="open-info">{{'questionScreen_what_3'|translate}}</span>
    {{'questionScreen_what_4'|translate}}
  </h6>
  <h6 class="grey" *ngIf="option.type == 'who'">{{'questionScreen_who_0'|translate}}
    <span tappable (click)="openInfo('questionScreen_who_1')" class="open-info">{{'questionScreen_who_1'|translate}}</span>
    {{'questionScreen_who_2'|translate}}</h6>
  <div *ngIf="option.type !== 'who' && option.type !== 'what'"
    class="distance"></div>


  <div *ngIf="option.type !== 'what'">
    <button
      ion-button
      tappable
      class="answer"
      *ngFor="let subOption of option.options"
      [disabled]="subOption.disabled"
      (click)="loadNext(subOption)">
      {{subOption.name}}
    </button>
  </div>

  <div *ngIf="option.type == 'what'">
    <ion-item
      text-wrap
      tappable
      class="answer"
      *ngFor="let subOption of option.options"
      [class.item-disabled]="subOption.disabled"
      (click)="loadNext(subOption)">
        {{subOption.name}}
      <ion-icon name="{{subOption.icon}}" item-end></ion-icon>
    </ion-item>
  </div>

</ion-content>
