<ion-header>

  <ion-navbar>
    <button ion-button icon-only menuToggle start>
      <ion-icon name="md-person" class="menu-button"></ion-icon>
    </button>
    <ion-title>
      Compliance App
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h2 class="primary" padding-top>{{option.questionOrComment}}</h2>
  <div class="stripes"></div>
  <h6 class="grey" *ngIf="option.type == 'what'">Es werden fünf Formen von Zuwendungen unterschieden: Bargeld,
    <span tappable (click)="openInfo('Special Events')" class="open-info">Special Events</span>,
    Einladungen mit überwiegendem Unterhaltungscharakter,
    <span tappable (click)="openInfo('Geschäftsessen')" class="open-info">Geschäftsessen</span> und
    Geschenke.
    Was wird Ihnen angeboten?</h6>
  <h6 class="grey" *ngIf="option.type == 'who'">Sie können von einem
    <span tappable (click)="openInfo('Geschäftspartner')" class="open-info">Geschäftspartner</span> oder von anderen Personen eingeladen werden.
  Wer lädt Sie ein?</h6>

  <button
    ion-button
    tappable
    class="answer"
    *ngFor="let subOption of option.options"
    [disabled]="subOption.disabled"
    (click)="loadNext(subOption)">
    {{subOption.name}}
  </button>
</ion-content>
