ion-content{
  background-image: url('../assets/images/home_black_and_white.gif');
  background-size: cover;
};




// fonts

@font-face {
  font-family: 'munichRe';
  src: url('../assets/fonts/Munich_RE_App-Regular.woff');
}

@font-face {
  font-family: 'munichRe';
  src: url('../assets/fonts/Munich_RE_App-Regular_Italic.woff');
  font-style: italic;
}

@font-face {
  font-family: 'munichRe';
  src: url('../assets/fonts/Munich_RE_App-Bold_Italic.woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'munichRe';
  src: url('../assets/fonts/Munich_RE_App-Bold.woff');
  font-weight: bold;
}

//define color schemes
.primary {
  color: map_get($colors, primary);
}

.grey {
  color: map_get($colors, font-grey)
}

.secondary {
  color: map_get($colors, secondary)
}

.font-color {
  color: map_get($colors, font-color)
}

//define UI elements
h6.grey{
  line-height: 150%;
}

.stripes {
  height: 8px;
  width: 100%;
  background: url('../assets/images/stripes.png');
}

div.buttons-wrapper{
  button{
    margin:10px auto;
    display:block;
    font-size: medium;
    text-transform: none;
    color: map_get($colors, light) !important;
    width: 80%;
    font-weight: bold;
  };
}

ion-icon.menu-button {
  color: map_get($colors, font-color);
  font-size: medium;
}

span.open-info {
  text-decoration: underline;
  color: map_get($colors, secondary);
}

.small{
  font-size: small;
}

//alert
.alert-ios .alert-wrapper{
  max-width: 90% !important;
}
//menu
ion-menu {
  ion-content {
    div.logo {
      background: url('../assets/images/logo.png') no-repeat;
      height: 10%;
      width: 50%;
      float: right;
      background-size: contain;
      clear: left;
    }
    div.user-data {
      clear: both;
      font-size: medium;
      padding-top: 10%;
    }
  }

}
.scroll-content{
  background: rgba(255,255,255,0.85);
}

