<ion-header>

  <ion-navbar>
    <button ion-button icon-only menuToggle start>
      <ion-icon name="menu" class="menu-button"></ion-icon>
    </button>
    <ion-title *ngIf="!title">
      {{'title' | translate}}
    </ion-title>
    <ion-title *ngIf="title">
      {{title}}
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div padding [class.what-text] = "option.type == 'what'">
    <h2 class="primary" padding-top [innerHtml] = "question"></h2>
    <div class="stripes"></div>
    <h6 class="grey" [innerHtml] = "info">
    </h6>
  </div>


  <div *ngIf="option.type !== 'what'" class="buttons-wrapper">
    <button
      ion-button
      tappable
      *ngFor="let subOption of option.options"
      [disabled]="subOption.disabled"
      (click)="loadNext(subOption)"
      [class.bold]="option.type == 'howMuch'">
      {{"buttons." + subOption.name | translate}}
    </button>
  </div>


  <div *ngIf="option.type == 'what'" padding class="what-buttons">
    <ion-item
      text-wrap
      tappable
      *ngFor="let subOption of option.options"
      [class.item-disabled]="subOption.disabled"
      (click)="setTitle(subOption)"
      [ngClass]="subOption.what">
      <div item-start></div>
      {{"buttons." + subOption.what | translate}}<br>
      <span class="xs">{{"buttons_addition." + subOption.what | translate}}</span>
    </ion-item>
  </div>

  <h1 class="grey branch" padding *ngIf="option.type !== 'what'">{{'buttons.' + branch | translate}}</h1>

</ion-content>
