<ion-header>

  <ion-navbar>
    <button ion-button icon-only menuToggle start>
      <ion-icon name="md-person" class="menu-button"></ion-icon>
    </button>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content>


  <div padding>
    <div class="grey" [innerHtml] = "infoText">
    </div>
  </div>

  <div class="buttons-wrapper">
    <button
      ion-button
      tappable>
      {{"buttons.accept" | translate}}
    </button>
    <button
      ion-button
      tappable
      (click)="goToStartPage()">
      {{"buttons.cancel" | translate}}
    </button>
  </div>

  <p><b>Nur für Testzwecke</b></p>
  Bei der Zuwendung handelt sich um (ein/e) {{process.info.what}}<br>
  <div *ngIf="process.info.branch === 'get-donation'"> Die Zuwendung <i>kommt von</i>  {{process.info.who}}</div>
  <div *ngIf="process.info.branch === 'give-donation'"> Die Zuwendung <i>geht an</i>  {{process.info.who}}</div>
  Wert der Zuwendung beträgt {{process.info.howMuch}}<br>
  Dokumentation erforderlich? {{process.procedure.documentationRequired}}<br>
  Formular an HR erforderlich? {{process.procedure.sendFormToHumanResources}}<br>

</ion-content>
