<ion-header>

  <ion-navbar>
    <button ion-button icon-only menuToggle start>
      <ion-icon name="md-person" class="menu-button"></ion-icon>
    </button>
    <ion-title>
      {{'secondary-pages.templates.title' | translate}}
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h2 class="primary" padding-top>{{'secondary-pages.templates.give-donation' | translate}}</h2>
  <div class="stripes"></div>
  <h6 class="grey" *ngIf="templatesGive.length">
    {{'secondary-pages.templates.please-click' | translate}}
  </h6>
  <h6 class="grey" *ngIf="templatesGive.length == 0">
    {{'secondary-pages.templates.no-templates' | translate}}
  </h6>
  <div>
    <ion-item
      text-wrap
      tappable
      *ngFor="let template of templatesGive"
      (click)="loadProcess(template)">
      <p>{{template.category}}</p>
      <p>{{template.supplementaryData.person}}</p>
      <ion-icon name="trash" item-end (click)="deleteTemplateGive($event, template)"></ion-icon>
    </ion-item>
  </div>

  <h2 class="primary" padding-top>{{'secondary-pages.templates.get-donation' | translate}}</h2>
  <div class="stripes"></div>
  <h6 class="grey" *ngIf="templatesReceive.length">
    {{'secondary-pages.templates.please-click' | translate}}
  </h6>
  <h6 class="grey" *ngIf="templatesReceive.length == 0">
    {{'secondary-pages.templates.no-templates' | translate}}
  </h6>
  <div>
    <ion-item
      text-wrap
      tappable
      *ngFor="let template of templatesReceive"
      (click)="loadProcess(template)">
      <p>{{template.category}}</p>
      <p>{{template.supplementaryData.person}}</p>
      <ion-icon name="trash" item-end (click)="deleteTemplateReceive($event, template)"></ion-icon>
    </ion-item>
  </div>


</ion-content>
