<ion-header>

  <ion-navbar>
    <button ion-button icon-only menuToggle start>
      <ion-icon name="md-person" class="menu-button"></ion-icon>
    </button>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div padding>
    <h2 class="primary" padding-top>Auswertung</h2>
    <div class="stripes"></div>
    <p *ngIf="procedure.note === 'normal'" class="grey" [innerHtml]="'confirmSendInquiry_note_normal'|translate"></p>
    <div class="grey" *ngIf="procedure.note === 'warning_business-lunch'">

    </div>

  </div>


  <div class="buttons-wrapper">
    <button
      ion-button
      tappable
      class="bold"
      (click)="continue()">
      {{'confirmSendInquiry_button_0'|translate}}
    </button>
    <button
      ion-button
      tappable
      class="bold"
      (click)="goToStartPage()">
      {{'confirmSendInquiry_button_1'|translate}}
    </button>
  </div>

</ion-content>
