<ion-header>

  <ion-navbar>
    <button ion-button icon-only menuToggle start>
      <ion-icon name="menu" class="menu-button"></ion-icon>
    </button>
    <ion-title>
      {{'secondary-pages.savedProcesses.title' | translate}}
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h2 class="primary" padding-top>{{"secondary-pages.savedProcesses.give-donation"| translate}}</h2>
  <div class="stripes"></div>
  <h6 class="grey" *ngIf="processesGive.length">
    {{"secondary-pages.savedProcesses.please-click"| translate}}</h6>
  <h6 class="grey" *ngIf="processesGive.length == 0">
    {{"secondary-pages.savedProcesses.no-processes"| translate}}
  </h6>
  <div>
    <ion-item
      text-wrap
      tappable
      *ngFor="let process of processesGive"
      (click)="loadProcess(process)">
      <p>{{process.category}}</p>
      <p>{{process.supplementaryData.person}}</p>
      <p>{{process.timeStamp | date: dateFormat }}</p>
      <ion-icon name="trash" item-end (click)="deleteProcessGive($event, process)"></ion-icon>
    </ion-item>
  </div>

  <h2 class="primary" padding-top>{{"secondary-pages.savedProcesses.get-donation"| translate}}</h2>
  <div class="stripes"></div>
  <h6 class="grey" *ngIf="processesReceive.length">
    {{"secondary-pages.savedProcesses.please-click"| translate}} </h6>
  <h6 class="grey" *ngIf="processesReceive.length == 0">
    {{"secondary-pages.savedProcesses.no-processes"| translate}}
  </h6>
  <div>
    <ion-item
      text-wrap
      tappable
      *ngFor="let process of processesReceive"
      (click)="loadProcess(process)">
      <p>{{process.category}}</p>
      <p>{{process.supplementaryData.person}}</p>
      <p>{{process.timeStamp | date: dateFormat }}</p>
      <ion-icon name="trash" item-end (click)="deleteProcessReceive($event, process)"></ion-icon>
    </ion-item>
  </div>


</ion-content>
