<ion-header>

  <ion-navbar>
    <button ion-button icon-only menuToggle start>
      <ion-icon name="md-person" class="menu-button"></ion-icon>
    </button>
    <ion-title>
      {{process.pageTitle}}
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div padding>
    <div class="grey">
      <p>{{"receive.infoScreen.info_0" | translate}}
        <span [innerHtml]="'receive.infoScreen.info_1_glossary' | translate" tappable
              (click)="openInfo('glossary.social-adequacy')" class="open-info"></span>
        {{"receive.infoScreen.info_2" | translate}}

        <span *ngIf="process.procedure.infoText == 'no-approval_business-lunch'">{{"receive.infoScreen.info_no-approval_business-lunch" | translate}}</span>

        <span *ngIf="process.procedure.infoText == 'self-approval'">{{"receive.infoScreen.info_self-approval_0" | translate}}
          <span *ngIf="process.info.what == 'specialEvent'">
            {{"receive.infoScreen.info_self-approval_1_special-event_0" | translate}}
          </span>
          <span *ngIf="process.info.what == 'businessLunch'">
            {{"receive.infoScreen.info_self-approval_1_business-lunch_0" | translate}}
            <span [innerHtml]="'receive.infoScreen.info_self-approval_1_business-lunch_1_glossary' | translate" tappable
                  (click)="openInfo('glossary.business-lunch')" class="open-info"></span>
          </span>
        <span [innerHtml]="'receive.infoScreen.info_self-approval_1_glossary' | translate" tappable
              (click)="openInfo('glossary.self-approval')" class="open-info"></span>.
        </span>

      </p>
      <p>{{"receive.infoScreen.info_3" | translate}}</p>
    </div>
  </div>

  <div class="buttons-wrapper">
    <button
      ion-button
      tappable>
      {{"buttons.button_accept" | translate}}
    </button>
    <button
      ion-button
      tappable
      (click)="goToStartPage()">
      {{"buttons.button_cancel" | translate}}
    </button>
  </div>


</ion-content>
